alembic==1.16.5
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.86.0
anyio==4.12.1
azure-ai-formrecognizer==3.3.3
azure-common==1.1.28
azure-core==1.39.0
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.1.8
distro==1.9.0
docstring_parser==0.17.0
exceptiongroup==1.3.1
fastapi==0.128.8
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
isodate==0.7.2
jiter==0.13.0
Mako==1.3.10
MarkupSafe==3.0.3
msrest==0.7.1
oauthlib==3.3.1
psycopg2-binary==2.9.11
pydantic==2.12.5
pydantic_core==2.41.5
python-dotenv==1.2.1
python-multipart==0.0.20
requests==2.32.5
requests-oauthlib==2.0.0
sniffio==1.3.1
SQLAlchemy==2.0.48
starlette==0.49.3
tomli==2.4.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.39.0
streamlit==1.50.0
streamlit-cookies-controller==0.0.4
pandas==2.2.3
plotly==6.7.0